/* .container {
    border: 0.5px solid red;
}

.container2 {
    border: 0.5px solid red;
}

.header-row {
    border: 0.5px solid red;
}

.birinci-ust {
    border: 0.5px solid red;
}

.mailsvg {
    border: 0.5px solid red;
}

.textemail {
    border: 0.5px solid red;
}

.ikinci-ust {
    border: 0.5px solid red;
}

.telsvg {
    border: 0.5px solid red;
}

.texttel {
    border: 0.5px solid red;
}

.ucuncu-ust {
    border: 0.5px solid red;
}

.facebook{
    border: 0.5px solid red;
}

.twitter {
    border: 0.5px solid red;
}

.instagram {
    border: 0.5px solid red;
}

.youtube{
    border: 0.5px solid red;
}

.container3 {
    border: 0.5px solid red;
}

.dorduncu-ust{
    border: 0.5px solid red;
}

.home {
    border: 0.5px solid red;
}

.about {
    border: 0.5px solid red;
}

.features{
    border: 0.5px solid red;
} */
